@model osVodigiWeb6x.Models.PlayerGroup

@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("input:text:visible:first").focus();
    }); 
</script>

<br />
<div class="textblock">
    <table class="instructions">
        <tr>
            <td style="width:100px;"><img src="~/Images/playergroup-icon.png" alt="" style="border-radius:8px 8px;" /></td>
            <td>
                <span class="paragraphheader">Add Player Group</span><br />
                <span class="paragraphtext">Please enter the appropriate information to add a new player group.</span>
            </td>
        </tr>
    </table>
</div>
<br />
@using (Html.BeginForm()) {

    <table class="formtable" style="border-spacing:0;border-collapse:collapse;" role="presentation">
        <tr>
            <td class="formheader" colspan="2">Add Player Group</td>
        </tr>
        <tr>
            <td class="formprimary"><b>Player Group Name: <span class="required">*</span></b></td>
            <td class="formprimary">
                @Html.TextBoxFor(model => model.PlayerGroupName, new { @style = "width:300px;", maxlength = 128 })
            </td>
        </tr>
        <tr>
            <td class="formsecondary"><b>Description: </b></td>
            <td class="formsecondary">
                @Html.TextBoxFor(model => model.PlayerGroupDescription, new { @style = "width:300px;", maxlength = 1024 })
            </td>
        </tr>
        <tr>
            <td class="formprimary"><b>Active: </b></td>
            <td class="formprimary">
                @Html.EditorFor(model => model.IsActive)
            </td>
        </tr>
        <tr>
            <td class="formfooter" colspan="2"><div id="returnlink"><input type="submit" value="Save" style="width:75px;" />@Html.ActionLink("Back to List", "Index")</div></td>
        </tr>
    </table>
    <div class="formfootnote"><span class="required">*</span> indicates a required field.</div>
    <br />
    <div class="errormessage">@Html.Raw((string)ViewData["ValidationMessage"])</div>
}

<br /><br />
