@model osVodigiWeb7.Models.ViewModel.LoginViewModel;
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <fieldset>
        <legend>Authentication</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password) </td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}


@Html.Raw((string)ViewData["ValidationMessage"])
@Html.Raw((string)ViewData["SystemMessages"])
@Html.Raw((string)ViewData["FreeLinks"])
