@model osVodigiWeb6x.Models.Video

@{
    ViewBag.Title = "Upload";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript" lang="javascript">
    $(function () {
        $("input:text:visible:first").focus();
        $("#divProgressBar").hide();
    });
    function SaveClick() {
        $("#divProgressBar").show();
        $("#btnSave").enabled = false;
    }
</script>

<br />
<div class="textblock">
    <table class="instructions">
        <tr>
            <td style="width:100px;"><img src="~/Images/video-icon.png" alt="" style="border-radius:8px 8px;" /></td>
            <td>
                <span class="paragraphheader">Add Video</span><br />
                <span class="paragraphtext">Please enter the appropriate information to upload and add a new video. Please be patient. It may take several minutes to upload large files. Uploads are limited to 200 MB per file.</span>
            </td>
        </tr>
    </table>
</div>
<br />
@using (Html.BeginForm("Upload", "Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <table class="formtable" style="border-spacing:0;border-collapse:collapse;" role="presentation">
        <tr>
            <td class="formheader" colspan="2">Add Video</td>
        </tr>
        <tr>
            <td class="formprimary">
                <b>Select File: <span class="required">*</span></b>
            </td>
            <td class="formprimary">
                <input type="file" name="fileupload" id="fileupload" />
            </td>
        </tr>
        <tr>
            <td class="formsecondary"><b>Video Name: <span class="required">*</span></b></td>
            <td class="formsecondary">
                @Html.TextBoxFor(model => model.VideoName, new { @style = "width:300px;", maxlength = 128 })
            </td>
        </tr>
        <tr>
            <td class="formprimary"><b>Tags: </b></td>
            <td class="formprimary">
                @Html.TextBoxFor(model => model.Tags, new { @style = "width:300px;", maxlength = 128 })
            </td>
        </tr>
        <tr>
            <td class="formsecondary"><b>Active: </b></td>
            <td class="formsecondary">
                @Html.EditorFor(model => model.IsActive)
            </td>
        </tr>
        <tr>
            <td class="formfooter" colspan="2"><div id="returnlink"><input type="submit" value="Save" style="width:75px;" onclick="SaveClick();" />@Html.ActionLink("Back to List", "Index")</div></td>
        </tr>
    </table>
    <div class="formfootnote"><span class="required">*</span> indicates a required field.</div>
    <br />
    <div class="formfootnote" id="divProgressBar">
        <img src="~/Images/progress-bar.gif" alt="Please wait. Uploading file." /><br />
        Please wait. Uploading file.
    </div>
    <br />
    <div class="errormessage">@Html.Raw((string)ViewData["ValidationMessage"])</div>
}

<br /><br />
