@model osVodigiWeb6x.Models.SurveyQuestionOption

@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("input:text:visible:first").focus();
    }); 
</script>

<br />
<div class="textblock">
    <table class="instructions">
        <tr>
            <td style="width:100px;"><img src="~/Images/survey-icon.png" alt="" style="border-radius:8px 8px;" /></td>
            <td>
                <span class="paragraphheader">Edit Survey Question Option</span><br />
                <span class="paragraphtext">Please update the appropriate information below.</span>
            </td>
        </tr>
    </table>
</div>
<br />
@using (Html.BeginForm())
{

    <table class="formtable" style="border-spacing:0;border-collapse:collapse;" role="presentation">
        <tr>
            <td class="formheader" colspan="2">Edit Survey Question Option</td>
        </tr>
        <tr>
            <td class="formprimary"><b>Question Option Text: <span class="required">*</span></b></td>
            <td class="formprimary">
                @Html.TextBoxFor(model => model.SurveyQuestionOptionText, new { @style = "width:300px;", maxlength = 1024 })
            </td>
        </tr>
        <tr>
            <td class="formfooter" colspan="2"><div id="returnlink"><input type="submit" value="Save" style="width:75px;" />@Html.ActionLink("Back to List", "Edit", "Survey", new { id = (int)ViewData["SurveyID"] }, null)</div></td>
        </tr>
    </table>
    <div class="formfootnote"><span class="required">*</span> indicates a required field.</div>
    <br />
    <div class="errormessage">@Html.Raw((string)ViewData["ValidationMessage"])</div>
    @Html.HiddenFor(model => model.SurveyQuestionOptionID)
    @Html.HiddenFor(model => model.SurveyQuestionID)
    @Html.HiddenFor(model => model.SortOrder)
}

<br /><br />